.team {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.title {
    font-family: var(--font-univers);
    display: flex;
    align-items: center; 
    color: white;
    gap: 5px; 
    margin-bottom: 16px; 
    width: 90%; 
}

.item {
    color: var(--principal-purple);
    font-size: 22px;
}

.membersContainer {
    display: flex; 
    gap: 20px; 
    width: 90%;
}

.hr {
    width: 22vw;
    margin: auto; 
    margin-top: 40px;
    border: 3px solid;
    border-image: var(--gradient-purple-blue) 1;
}
