.team {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.title {
    font-family: var(--font-univers);
    display: flex;
    align-items: center; 
    color: white;
    gap: 5px;
    padding: 10px 0px;  
    width: 90%; 
}

.item {
    color: var(--principal-purple);
    font-size: 1.25em;
}

.membersContainer {
    display: flex; 
    /* flex-wrap: wrap; */
    gap: 20px; 
    width: 90%;
}

.hr {
    width: 22vw;
    margin: auto; 
    margin-top: 40px;
    border: 1px solid;
    border-image: var(--gradient-purple-blue) 1;
}
