.team {
    display: flex;
    gap: 50px;
}

.title {
    font-family: 'UniversCnBold', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 10%;
    gap: 5%;
}

.palito {
    position: relative;
    color: var(--principal-purple);
    top: -10px;
    font-size: 2.5rem;
}

.hr {
    width: 80vw;
    color: var(--principal-purple);
    margin: 50px;
}