.gamedata {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gamedata__description {
  text-align: left; 
  font-size: 20px;
  width: 90%;
}

.gamedata__sinopsis{
  text-align: justify;
  width: 90%;
}