.containerCartList {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 60px;
}

.cartListGames {
  gap: 20px;
}

.cartPayment {
  align-self: start;
  justify-self: right;
  position: fixed;
}