/* .checkout {

} */

.checkout__components {
  display: grid;
  grid-template-areas: 'list pay';
  gap: 40px;
  padding-top: 40px;
  min-height: 75vh;
} 

.checkout__list {
  grid-area: list;
  width: 50%;
}

.checkout__pay {
  grid-area: pay;
  width: 50%;
}