
.view-details {
  display: grid;
  gap: 20px; 
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "main-section        price-newreview"
    "system-requirements reviews";
  padding:16px 0 0 40px;
  
  
}

.view-details__main-section {
  grid-area: main-section; 
}

.view-details__price-newreview {
  grid-area: price-newreview;
  display: grid;
  gap: 30px;
  margin-right: 30px;
}

.view-details__system-requirements {
  grid-area: system-requirements;
  padding-top: 20px;
}

.view-details__reviews {
  grid-area: reviews;
  margin:0 20px 20px 0;

}

/* .view-details__box {  

} */
