.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  height: 5vh;
  top: 0;
  background-color: var(--header-footer-color);
  z-index: 10;
  padding: 20px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.logoImg {
  height: 70px;
  cursor: pointer;
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 20px;
  background-color: var(--body-color);
  height: 45px;
  width: 50%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
}

.menu {
  height: 25%;
}

.intoSearchBar {
  color: white;
  width: 100%;
  height: auto;
  background-color: var(--body-color);
  border: none;
}

.intoSearchBar::placeholder {
  color: white;
  text-align: center;
}

.search {
  height: 25%;
  cursor: pointer;
}

.icons {
  display: flex;
  gap:50px;
  height: 45px;
}

.icon {
  cursor: pointer;
}