.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid;
  border-image: var(--gradient-purple-blue) 1;
  width: 80vw;
  padding: 30px;
  font-size: 1.2em;
}

.gameItem{
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 280px;
}

.gameList{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}


.listImg{
  max-width: 130px;
  max-height: 250px;
}

.line {
  border: none;
  height: 4px;
  width: 250px;
  background: var(--gradient-blue-purple);
  margin: 10px 0;
}

.gameListData{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 54%;
}