/* CSS del componente Button */

/* Generico */

button {
  font-family: 'UniversCnBold', sans-serif;
  color: white;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease;  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  transform: translateY(4px);
}

/* Variantes de tamaños */

button.short {
  width: 100px; 
  height: 30px;
  font-size: 1em; 
}

button.large {
  width: 160px; 
  height: 40px;   
  font-size: 1.25em;
}

button.medium {
  width: 150px; 
  height: 40px;  
}

/* Variantes de Colores */

button.morado {
  background: var(--gradient-purple);
  box-shadow: var(--shadow-purple);
}

button.morado:active {
  box-shadow: var(--shadow-purple);
}

button.azul {
  background: var(--gradient-blue);
  box-shadow: var(--shadow-blue);
}

button.azul:active {
  box-shadow: var(--shadow-blue);
}

button.morado-azul {
  background: var(--gradient-purple-blue);
  box-shadow: var(--shadow-gradient-blue-purple);
}

button.azul-morado {
  background: var(--gradient-blue-purple);
  box-shadow: var(--shadow-gradient-blue-purple);
}

button.morado-azul:active,
button.azul-morado:active {
  box-shadow: var(--shadow-gradient-blue-purple);
}

