table {
  width: fit-content;
  background-color: var(--header-footer-color);
  border-radius: 8px;
  border: 4px ridge var(--led-purple);
  text-align: left;
}

th {
  font-size: 1.25em;
  padding: 6px;
  padding-left: 10px;
}

td {
  color: white;
  padding: 6px;
  padding-right: 24px;
  padding-left: 10px;
}

.line{
  color: var(--led-purple);
}

