.container {
  display: flex;
  justify-content: space-between;

}

@media (max-width: 1280px) {
  .container{
    justify-content: space-between;
  }  
}

@media (max-width: 720px) {
  .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
  }  
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: visible;
}
