*{
  margin: 0;
  padding: 0;
}

/* Overlay del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.formContainer{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

/* Estilos del módulo de inicio de sesión */
.loginModule {
  background-color: #192233;
  padding: 2em;
  border-radius: 8px;
  width: 350px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Degradado en el borde del módulo */
.loginModule::before {
  content: '';
  position: absolute;
  top: -2px;    
  left: -2px;
  right: -2px;  
  bottom: -2px; 
  border-radius: 8px; 
  background: var(--gradient-purple-blue); 
  z-index: -1; 
}

/* Imagen del usuario */
.imagenUser img {
  align-items: center;
  width: 180px;  
  height: 180px; 
  margin-bottom: 1em;
}

/* Botón de cerrar */
.logoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
}


/* Separación inputs */
.buttonContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1em; 
}

.inputGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
}

/* Estilos de los inputs */
.inputGroup input {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #333;
  font-size: 1em;
  align-items: center;
}

/* Checkbox de "Recuérdame" */
.rememberMe {
  color: #ccc;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.rememberMe input {
  margin-right: 0.5em;
}

/* Estilo del botón "Iniciar sesión" */
.iniciarSesion {
  background: var(--gradient-purple);
}

/* Estilo del botón "Nuevo Usuario" */
.nuevoUsuario {
  background: var(--gradient-blue);
  margin-top: 0.5em;
}

.error{
  color: var(--principal-purple);
  margin-bottom: 1rem;
}