.productsList {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    justify-items: center;
    grid-row-gap: 3.2rem;
    grid-column-gap: 5rem;
    margin:0 0 5vh 5vw ;
}