.container{
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 200px; 
  gap: 10px;
  padding-bottom: 10px;
  background-color: var( --header-footer-color);
}
.container:hover{
  box-shadow: 0px 0px 50px var(--led-purple);
}
.cardTitle{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}
.carritoIcon{
  max-height: 20px;
}

.cardPrice{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.stock{
  color: var(--principal-green);
}

.noStock{
  color: var(--principal-red);
}