*{
  color: white;
}

.filters {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.filter {
  padding: 8px;
  border: none;
  border-radius: 25px;
  background-color: var(--header-footer-color);
  color: #fff;
  cursor: pointer;
  appearance: none; 
}
  
.filter select,
.filter input {
  color: #fff;
  background-color: var(--header-footer-color);
  border: none;
  outline: none;
  appearance: none;
}

.filter::placeholder {
  color: #fff;
}

.resetButton {
  color: #fff;
  cursor: pointer;
  background-color: var(--header-footer-color);
  border: none;
  border-radius: 25px;
}
