.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: 200px;
  gap: 10px;
  padding-bottom: 10px;
  background-color: var(--header-footer-color);
  height: 320px;
}

.container:hover {
  box-shadow: 0px 0px 50px var(--led-purple);
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: 10px;
  margin: 0 10px 0 10px;
}


.cardPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0 10px 0 10px;
}

.rating{
  min-width:27px ;
  min-height: 22px;
}
.stock {
  color: var(--principal-green);
}

.noStock {
  color: var(--principal-red);
}