.container {
  --divisor: 1;
  /* Valor por defecto */
}

@media (max-width: 811px) { /*Tamaño iPad vertical*/

}

@media (max-width: 400px) { /*Tamaño medio de Smartphones en vertical*/

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: calc(200px / var(--divisor));
  gap: calc(10px / var(--divisor));
  padding-bottom: 10px;
  background-color: var(--header-footer-color);
  height: calc(320px / var(--divisor));
}

.container:hover {
  box-shadow: 0px 0px 50px var(--led-purple);

  transition: box-shadow 0.2s ease;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: calc(10px / var(--divisor));
  margin: 0 calc(10px / var(--divisor)) 0 calc(10px / var(--divisor));
}


.cardPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0 calc(10px / var(--divisor)) 0 calc(10px / var(--divisor));
}

.rating {
  min-width: 27px;
  min-height: 22px;
}

.stock {
  color: var(--principal-green);
}

.noStock {
  color: var(--principal-red);
}