.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: 20rem;
  gap: 10px;
  padding-bottom: 10px;
  background-color: var(--header-footer-color);
  height: 32rem;
  border-radius: 2px;
}



.container:hover {
  box-shadow: 0px 0px 30px var(--led-purple);
  transform: scale(1.02);
  transition: box-shadow 0.4s ease;
}

.gameCardImg {
  border-radius: 2px 2px 0 0;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: 10px;
  margin: 0 10px 0 10px;
}


.cardPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0 10px 0 10px;
}

.rating {
  min-width: 27px;
  min-height: 22px;
}

.stock {
  color: var(--principal-green);
}

.noStock {
  color: var(--principal-red);
}