.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  color: white;
  padding: 10px;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.imgFooter {
  max-width: 80px;
  margin-bottom: -8px;
  cursor: pointer;
}

.rightFooter {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onlyButtons {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.iconsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.onlyIcons {
  display: flex;
  gap: 10px;
}

.icon {
  max-width: 40px;
  cursor: pointer;
}

a {
  text-decoration: none;
}