.contenedor {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  gap: 20px;
=======
  gap: 40px;
>>>>>>> develop
  width: 100%;
}

.buttons {
  margin-top: 10vh;
  display: flex;
  width: auto;
  justify-content: center;
  gap: 30px;
}

.title {
  font-family: 'UniversCnBold', sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px; 
}

.palito {
  color: var(--principal-purple);
  font-size: 2.5em;
}

.juegos {
  justify-content: left;
}

.text {
  color: white;
}