.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  color: white;
  padding: 10px;
 
}

.leftFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding-left: 30px;
}

.imgFooter {
  max-width: 60px;
  cursor: pointer;
}

.rightFooter {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.onlyButtons{
  display: flex;
  gap: 30px;
  padding: 20px;
}


.iconsFooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.onlyIcons{
  display: flex;
  gap: 20px;
}

.icon {
  max-width: 40px;
  cursor: pointer;
}

a {
  text-decoration: none;
}