.card {
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr;
    align-items: center;
    justify-content: center;
    background-color: var(--header-footer-color);
    padding: 16px;
    gap: 15px;
    border: 1px ridge var(--principal-blue);
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px var(--led-purple);
}

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container {
    background-color: var(--body-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--principal-blue);
    padding: 6px;
    text-align: center;
    gap: 4px;
    transition: background-color 0.3s ease;
}

.container:hover {
    background-color: var(--principal-light-blue);
}

.containerTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--principal-blue);
}

.buttonContainer {
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editUser,
.deleteUser {
    padding: 6px 6px;
    background-color: var(--button-bg-color);
    color: white;
    cursor: pointer;
}

.user, .email, .rol {
    font-size: 0.8rem;
}