.gamesList {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(1fr, 200px));
    gap: 20px;
}

.gameCard {
    display: flex;
    gap: 20px;
    max-width: 400px;
    flex-wrap: wrap;
}

.gameCard__left {
    display: flex;
}

.gameCard__right {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gameCard__right_bottom {
    margin-top: auto;
}

.gameCard__line {
    border: none;
    height: 4px;
    background: var(--gradient-purple-blue);
    width: 100%;
    align-self: stretch;
}