.gamesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gameCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 400px;
    max-height: 250px;
}

.gameCard__left {
    grid-row: 1 / 3;
}

.gameCard__right{
    grid-row: 1 / span 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


.gameCard__line {
    grid-row-start: -1;
    grid-column: 1/4;
    border: none;
    height: 4px;
    background: var(--gradient-purple-blue);
    align-self:center;
}