table {
  width: 100%;
  background-color: var(--header-footer-color);
  margin: 20px 0;
  border-radius: 8px;
  border: 4px ridge var(--led-purple);
  text-align: left;

  
}

th {
  font-size: 1.25em;
  
}

td {
  color: white;
  padding-bottom: 6px;
}






