/* Estilos del header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 5vh; 
  background-color: var(--header-footer-color);
  z-index: 10;
  padding: 20px;
}

/* Contenedor del logo y botón de catálogo */
.left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logoImg {
  height: 70px;
  cursor: pointer;
}

.buttonHeader {
  display: flex;
  align-items: center;
}

/* Barra de búsqueda centrada */
.searchBar {
  display: flex;
  align-items: center;
  background-color: var(--body-color);
  height: 30px;
  width: 50%;
  border-radius: 20px;
  padding: 0 10px;
  gap: 10px;
  border: 2px outset var(--principal-purple);
}


.menu-container {
  position: relative; 
  display: inline-block;
}


.menu-icon {
  cursor: pointer;
  display: block;
}


.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column; 
  top: 80%; 
  background-color: var(--header-footer-color);
  width: 100px;  
}


.dropdown-menu__option {
  padding: 4px;
  cursor: pointer;
  color: white;
  text-align: center;
  border: 1px solid #fff;
  font-family: 'UniversCnBold', sans-serif;
  transition: background-color 0.3s ease;
}

.dropdown-menu__option:hover {
  background-color: var(--principal-blue); 
}

.dropdown-menu__option--selected {
  background-color: var(--principal-blue);
}



.intoSearchBar {
  flex: 1;
  color: white;
  background-color: var(--body-color);
  border: none;
  padding: 0 10px;
}

.intoSearchBar::placeholder {
  color: white;
  text-align: center;
}

.search {
  height: 75%;
  cursor: pointer;
}

/* Contenedor de iconos a la derecha */
.icons {
  display: flex;
  align-items: center;
  gap: 50px;
}


.userContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.user {
  cursor: pointer;
}

.userLabel {
  font-size: 12px;
  color: #fff; 
  text-align: center;
}

.userIconWrapper {
  position: relative;
  display: inline-block;
}

.logoutContainer {
  position: absolute;
  top: 120%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  background-color: var(--header-footer-color);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.adminIconWrapper{
  position: relative;
  display: inline-block;
}

.adminContainer {
  position: absolute;
  display: flex;
  flex-direction: column; 
  top: 120%;
  background-color: var(--header-footer-color);
  width: 100px;  
  font-size: small;
}

.adminConfiguration{
  padding: 4px;
  cursor: pointer;
  color: white;
  text-align: center;
  border: 1px solid #fff;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: var(--principal-blue); 
  }
}

/* responsive para movil*/

@media (max-width: 720px) {
  .header {
    flex-wrap: wrap;
    height: auto; 
  }

  .left {
    order: 1; /* Logo y botón van primero */
    justify-content: center; 
    margin-bottom: 10px; 
    gap: 10px;
  }

  .searchBar {
    order: 3; /* Barra de búsqueda irá de última */
    width: 100%; 
    
  }

  .icons {
    order: 2; /* Íconos estarán debajo de `left`, pero encima de `searchBar` */
    justify-content: center; 
    margin-bottom: 10px;
    gap: 10px;
  }
}


